body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.main-menu{
    background: #fda502;
}
.main-menu ul{
    margin: 0; 
    padding: 0; 
    list-style: none;
    text-align: center ;
}
.main-menu ul li{
    display: inline-block;
    font-weight: 600;
}
.main-menu ul a{
    color: white;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}
.main-menu ul a:hover{
    background: #f37228;
    border-radius: 15px;
}
h1{
    font-size: 50px;
    line-height: 30px;
}
p{
    margin-bottom: 30px;
}
.orange-color{
    color: orange;
}
.container{
    display: flex;
}
.wrapper{
    width: 50%;
    padding: 5%;
}
.wrapper img{
    width: 65%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 35px;
    border-radius: 30px;
    font-weight: 500;
    color: white;
}
.top-banner{
    background-image: url(./images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
.middle-bannar{
    background-image: url(./images/shapes/7.png);
    background-repeat: no-repeat;
	background-size:cover;
	background-position:fixed;
}
.my-recipies{
    text-align: center;
}
.food-item{
    width: 33%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px;
    box-shadow:10px 10px 50px gray;
    border-radius: 20px
}
.food-item img{
    width: 100%;
}
#social-container{
    text-align: center;
}
#footer-section{
    background-color:black; 
    margin-top: 30px;
    
}

.footer_content{
    text-align: center;
	padding: 20px 0;
}
.ash-color{
    color: rgb(103, 103, 103);
}
.white-color{
    color: white;
}